@font-face {
	font-family: 'Roboto-Regular';
	src: local('Roboto-Regular') url('/fonts/Roboto-Regular.woff2')
		format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: local('Roboto-Medium') url('/fonts/Roboto-Medium.woff2')
		format('woff2');
	font-weight: 500;
}

body {
	font-family: Roboto-Regular, sans-serif;
	letter-spacing: 1px;
}
