@font-face {
	font-family: 'Roboto-Regular';
	src: local('Roboto-Regular') url('/fonts/Roboto-Regular.woff2')
		format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: local('Roboto-Medium') url('/fonts/Roboto-Medium.woff2')
		format('woff2');
	font-weight: 500;
}

html,
body,
#__next {
	height: 100%;
}

body {
	font-family: Roboto-Regular, sans-serif;
	letter-spacing: 1px;
	background-color: #f2f2f2;
	line-height: 24px;
}

/* Prevents broken image to be shown */
img.lazyload:not([src]) {
	visibility: hidden;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 0.3s;
}
